addon-size = 250px

.dual-layout
  clearfix()
  height 100%

  .detail-wrapper
    float left; width 100%; height 100%
    .dual-detail
      margin-left addon-size; padding 0 10px
      height 100%; overflow hidden

  .dual-addon
    float left
    width addon-size; height 100%; overflow hidden
    margin-left -100%