@require '../wings.import.styl'

nav .branding
  width left-pane-size
  background-color #3e313c
  color #fff

.dual-layout
  clearfix()
  height 100%

  .detail-wrapper
    float left; width 100%; height 100%
    .dual-detail
      margin-left left-pane-size//; padding 0 10px
      height 100%; overflow hidden

  .dual-addon
    float left
    width left-pane-size; height 100%; overflow hidden
    margin-left -100%