template(name="navigation")
  nav.fixed-top
    .branding THIEN BAN
    .navigation
      +wingsEditorPane
    .navigation.right
      ul
        li.reportManagement Báo Cáo
        li.staffManagement Nhân Viên
        li.customerManagement Khách Hàng
        li.productManagement Sản Phẩm
        li.saleManagement Bán Hàng

        //li.importManagement Kho Hàng
        //li.deliveryManagement Nhà Cung Cấp
        //li.optionManagement Tùy Chỉnh