template(name="navigation")
  nav.fixed-top
    .branding THIEN BAN
    .navigation
      +wingsEditorPane
    .navigation.right
      ul
        li.productManagement Sản Phẩm
        li.saleManagement Bán Hàng
        li.importManagement Kho Hàng
        li.deliveryManagement Nhà Cung Cấp
        li.staffManagement Nhân Sự
        li.customerManagement Khách Hàng
        li.reportManagement Báo Cáo
        li.optionManagement Tùy Chỉnh