@require '../wings.import.styl'

.wings-editor-wrapper
  padding-bottom 25px
  .wings-editor
    cursor pointer
  .commands
    display none
  &.active, &.save-remaining
    padding-bottom 0
    .commands
      display inherit

  .commands
    margin-top 5px
    border-top solid 1px #E4E4E4
  &.save-remaining .commands
    background-color lime

.wings-editor-pane
  display none
  &.active
    display inherit
  .button.active
    font-weight bolder