template(name="channel")
  .channel-wrapper
    ul.starred
      li.header
        span QUAN TRỌNG
        span.icon-star
    ul.channels
      li.header KÊNH TRÒ CHUYỆN
      each channels
        li.channel-item.public.icon-shareable(class="{{isActiveChannel}}") {{name}}
    ul.direct-message
      li.header TRỰC TIẾP
      li.channel-item.direct
        span.online-status
        span cloudle
      li.channel-item.direct
        span.online-status
        span locnguyen
      li.channel-item.direct
        span.online-status
        span kynguyen
    ul.private-group
      li.header NHÓM TRÒ CHUYỆN
      each groups
        li.channel-item.private.icon-shareable(class="{{isActiveChannel}}") {{name}}