font-face = "Roboto", sans-serif, Arial
open-sans = "Open Sans", sans-serif, Arial

default-font-color = #797875

left-pane-size = 250px
sidebar-size = 500px
nav-height = 50px
nav-border-height = 0

editable-color = #999
save-remaining-color = lime

