template(name="apiDocumentation")
  .dual-layout#api
    .detail-wrapper
      .dual-detail
        .api-machine
          .header
            h1 {{currentNode.name}}
            h3 {{currentNode.description}}
          .members
            h1 Members
            input(type="button" value="add")
          .methods
            h1 Methods
            input(type="button" value="add")

    .dual-addon
      .filter.icon-search-8
        input(name='apiFilter' type="text" placeholder="tìm kiếm..")
      ul
        each apiNodes
          +apiNode

template(name="apiNode")
  li.api-node(class="{{nodeActiveClass}}") {{name}}
  if childNodes.length
    ul
      each childNodes
        +apiNode nodeDetails