@require '../wings.import.styl'

.button
  float left
  display inline-block
  padding 6px 12px
  text-align center
  white-space nowrap
  vertical-align middle
  cursor pointer
  user-select none

.button-group
  float left
  position relative
  display inline-block
  vertical-align middle