template(name="kernel")
  .kernel-content
    .nano: .nano-content
      .channel-info
      .channel-messages
        .message
          .avatar(style="background-image:url('avatars/cloud.jpg')")
          .message-meta
            span.owner-alias cloudle
            span.time-stamp 03:47 ch
          .content this is message content

  .kernel-footer
    input.messenger-input(type="text")