template(name="kernel")
  .kernel-content
    .nano: .nano-content
      .channel-info
      .channel-messages
        each messages
          if separator
            .message.separator
              .avatar(style="background-image:url('{{avatarImg}}')")
              .message-meta
                span.owner-alias cloudle
                span.time-stamp {{formatHour createAt}}
              .content {{message}}
          else
            .message
              .content {{message}}

  .kernel-footer
    input.messenger-input(type="text")