template(name="sidebar")
  .sidebar-addNews
    if isActiveProductManagement
      +productManagement

    if isActiveImportManagement
      +importManagement

    if isActiveSaleManagement
      +saleManagement