template(name="saleDetailEditor")
  tr.editors
    td(style="text-align: left") {{productName}}
    td {{unitName}}
    td: input.editQuality(value="{{quality}}")
    td: input.editPrice(value="{{price}}")