template(name="message")
	if separator
		.message.separator
			.avatar(style="background-image:url('{{avatarImg}}')")
			.message-meta
				span.owner-alias {{messageCreator.profile.name}}
				span.time-stamp {{formatHour createAt}}
			.content {{message}}
	else
		.message
			.content {{message}}