template(name="wingsEditorPane")
  .wings-editor-pane(class="{{isEditingClass}}" focusable="false")
    .button.icon-bold(class="{{boldActiveClass}}" action="bold")
    .button.icon-italic(class="{{italicActiveClass}}" action="italic")
    .button.icon-underline(class="{{underlineActiveClass}}" action="underline")
    //.button(class="{{underActiveClass}}") U
    //.button(class="{{crossActiveClass}}") S
