template(name="wingsEditorPane")
  .wings-editor-pane(class="{{isEditingClass}}" focusable="false")
    .button(class="{{boldActiveClass}}") B
    .button(class="{{italicActiveClass}}") I
    //.button(class="{{underActiveClass}}") U
    //.button(class="{{crossActiveClass}}") S
