template(name="api")
  .dual-layout#api
    .detail-wrapper
      .dual-detail
        .api-machine
          .header
            +wingsEditable(size="s2" model=currentNode field="name" label="tên node")
            +wingsEditable(size="s6" model=currentNode field="description")
          .members
            h1 Members
          .wings-insert: .dashed-bar
          .methods
            h1 Methods
          .leaf-commands
            input(type="button" value="add")

    .dual-addon
      .filter
        input(name='apiFilter' type="text" placeholder="Tìm Documentation")
      .nano: .nano-content
        ul.api-docs
          each apiNodes
            +apiNode

template(name="apiNode")
  li.api-node(class="{{nodeActiveClass}}")
    span.link-hover {{name}}
    .remove-node.icon-cancel-circled-4
  if childNodes.length
    ul
      each childNodes
        +apiNode nodeDetails