template(name="api")
  .dual-layout#api
    .detail-wrapper
      .dual-detail
        .api-machine
          .header
            +wingsEditable(size="s2" model=currentNode field="name" label="tên node")
            +wingsEditable(size="s6" model=currentNode field="description")
          .members
            h1 Members

            if insertingMember
              .insert-member
                .wings-editable: input.s7
            else
              .wings-insert.member.click-command: .dashed-bar
          .methods
            h1 Methods

            if insertingMethod
              .insert-method
                .wings-editable: input.s7
            else
              .wings-insert.method.click-command: .dashed-bar

    .dual-addon
      .filter
        input(name='apiFilter' type="text" placeholder="Tìm Documentation")
      .nano: .nano-content
        ul.api-docs
          each apiNodes
            +apiNode

template(name="apiNode")
  li.api-node(class="{{nodeActiveClass}}")
    span.link-hover {{name}}
    .remove-node.icon-cancel-circled-4
  if childNodes.length
    ul
      each childNodes
        +apiNode nodeDetails