template(name="saleManagement")
  .saleManagement-wrapper
    .saleManagement-header
      .left-header(style="float:left")
        |Phiếu Bán Hàng

      .right-header
        .sale-staff(style="float:right")
          select.staffs
            each staffs
              option(value="{{_id}}") {{staffDisplayName}}

        .sale-customer(style="float:right")
          select.customers
            each customers
              option(value="{{_id}}") {{name}}

    .saleManagement-body
      .saleDetails
        table(style="width:100%; text-align: right")
          tr
            th(style="width:auto; text-align: left") SẢN PHẨM
            th(style="width:70px") ĐƠN VỊ
            th(style="width:50px") SL
            th(style="width:140px") GIÁ BÁN
            th(style="width:20px")

          each saleDetails
            if editingMode
              +saleDetailEditor this
            else
              tr.detail-row
                td(style="text-align: left") {{productName}}
                td {{unitName}}
                td {{quality}}
                td {{price}} VND
                td: span.icon-minus-4.deleteDetail

          tr
            td
            td(colspan="2") Tổng Cộng:
            td {{sale.totalPrice}} VND

          tr
            td
            td(colspan="2") Thanh Toán:
            td {{sale.depositCash}} VND

          tr
            td
            td(colspan="2")
            td {{sale.finalPrice}} VND

      .saleAddDescription(style="height: 25px")
        input.saleDescription(value="{{sale.description}}")

      .saleAddDetail(style="height: 25px")
        .sale-product(style="float:left")
          select.products
            each products
              option(value="{{_id}}") {{productName}}

        .sale-conversion(style="float:left")
          select.conversions
            each conversions
              option(value="{{_id}}") {{findUnit.name}}

        .sale-quality(style="float:left"): input.addDetailQuality(style="width:50px" value="1")
        .sale-price(style="float:left"): input.addDetailPrice(style="width:50px" value="0")
        .sale-add(style="float:right"): button.addDetail Add

    .saleManagement-footer
      .sale-paymentDelivery(style="float:left")
        select.paymentsDelivery
          option(value="1") Trực Tiếp
          option(value="2") Đặt Hàng

      .sale-paymentMethod(style="float:left")
        select.paymentMethod
          option(value="1") Tiền Mặt
          option(value="2") Ghi Nợ

      .sale-deposit(style="float:left"): input.saleDeposit(style="width:100px" value="{{sale.depositCash}}")
      .sale-submit(style="float:right"): button HOÀN TẤT
