template(name="saleManagement")
  .saleManagement
    .saleManagement-header
      ul(style="padding-left: 0; list-style: none;")
        li(style="display: inline-block; cursor: pointer; padding-left: 5px").icon-tag.home Phiếu Bán
        li(style="display: inline-block; cursor: pointer; padding-left: 5px").icon-history.historySale Nhật Ký

    .saleManagement-body
      //.body-createSale(style="visibility: hidden")

      if isActiveCreateSale
        +createSale

      if isActiveHistorySale
        +historySale

    .saleManagement-footer