@require '../wings.import.styl'

.dual-layout#api
  .dual-addon
    background-color #4D394B
    color #fff
    .filter
      margin 10px 15px
      input
        border-radius 2px; border none
        width 100%; font-size 18px
        padding 5px 10px

  .api-docs
    padding-left 18px; margin 0
    ul
      padding-left 10px
    li.api-node
      position relative
      cursor pointer
      list-style none
      padding-bottom 7px
      user-select none
      &.active > span
        border-color rgba(255,255,255,0.3)
      &:hover
        span
          border-color rgba(255,255,255,0.3)
        .remove-node
          display inherit

      .remove-node
        display none
        color #999999 !important
        absolute top 0 right 12px
        border-radius 50%
    .leaves-detail
      padding 0 0 5px 15px
      font-size 16px; font-weight 300
      > ul
        padding-left 0
        .api-tree-leaf-title
          user-select none; list-style none
          cursor default; color #999
        .api-leaf
          user-select none; list-style none
          cursor pointer
          padding-left 8px
          font-weight 500
          &.member
            color nephritis
          &.method
            color carrot

  .api-docs > ul { padding-left: 15px; }
  .api-docs > li { font-weight: 700; font-size: 18px }

  .api-machine
    padding 0 10px

    .subsection-title
      font-size 30px; font-weight 500
      color #779c34; padding 30px 0 5px 0
    .wings-insert
      margin 13px -10px 0 -10px

    .insert-input
      width 100%; padding 7px 9px 6px 9px
      border 2px solid rgba(0,39,59,.2)
      border-radius 4px
      font-family open-sans
      font-weight 700