template(name="productSummaries")
  .productSummaries
    each managedProducts
      if showFilterSearch
        .productSummary
          .avatar(style="background-image:url('{{avatarImg}}')")
          .content {{name}}
          .sale-meta
            span.owner-alias {{creatorName}}
            span.time-stamp {{formatHour createAt}}
          .content {{description}}

          .action: span.editProduct(style="cursor: pointer") Thông tin chi tiết

          if isBranchProduct
            if allowDelete
              .action: span.deleteBranchProduct(style="cursor: pointer") Xóa khỏi chi nhánh
          else
            .action: span.addBranchProduct(style="cursor: pointer") Thêm vào chi nhánh

          if isDeleteProduct
            .action: span.deleteProduct(style="cursor: pointer") Xóa khỏi công ty


          .content --------------------------